---
import cta from "../assets/cta.png";
---
<section class="bg-white">
    <div class="grid grid-cols-1 lg:grid-cols-2 max-w-7xl px-8 py-10 mx-auto justify-center items-center gap-8">
        <img src={cta.src} alt="Ecolodge Cabañas y Retiros" class="rounded-md order-2 lg:order-1" loading="lazy" />
        <div class="order-1 lg:order-2 space-y-2">
            <p class="uppercase text-green-700 font-medium">
                Acerca de las Cabañas
            </p>
            <h3 class="text-green-900 font-bold text-2xl lg:text-3xl">
                Nuestra Historia
            </h3>
            <p class="text-gray-800 text-justify text-sm">
                Las Cabañas son un lugar dedicado a la conexión profunda entre el ser humano, la vida y la naturaleza. Un espacio donde la calma, la belleza y la energía de los Andes se unen para inspirar transformación.
            </p>
            <p class="text-gray-800 text-justify text-sm">
                Este proyecto fue soñado y diseñado por Víctor y Medalit, una familia con una fuerte conexión espiritual y un compromiso genuino con el desarrollo de las comunidades locales. Su propósito fue crear un refugio de paz donde familias, grupos y organizaciones puedan reunirse para ceremonias, retiros, talleres y eventos conscientes.
            </p>
            <a target="_blank" href="https://wa.link/ngq3h9" class="inline-flex items-center justify-center border-2 border-white hover:border-green-700 font-bold hover:bg-white rounded-md bg-green-700 text-white hover:text-green-700 text-sm px-6 py-3" aria-label="Contacto de WhatsApp">
                Consultar ahora
                <i class="fa-brands fa-whatsapp fa-2xl ml-2"></i>
            </a>
        </div>
    </div>
</section>